# tempfile
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Thumbs.db

# build result
app/dist/

# Docker
.docker/
*.log
docker-compose.override.yml

# Secrets and environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
.DS_Store
